<div class="col-md-8 col-md-offset-2">
    <!--when we want to link an html element to angular, we should write it like this: #{name of the id}-->
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" class="form-control"
                   [ngModel]="message?.content"
                   name="content"
                   required>
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(form)">Clear</button>
        <button class="btn btn-primary"> Save</button>
    </form>

</div>